body{
    background-color: #2F900D;
}
.container{
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 20px; 
    margin-top: 10%;
    margin-left: 30%;
}
label{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 45%;
}
input{   
    margin-bottom: 10%;
}
button{
    background-color: #44D113;
    color: white;
    border-radius: 10px 10px 10px 10px;
    width: 180px;
    height: 45px;
    border:transparent;
    margin-left: 10%;
}
.other{
    color: #2E970A;
    margin-left: 40%;
}